/* styles.css */

/* Базовые стили */
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 600px;
    margin-top: 20px;
}
.fixed-bottom-left {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 1rem;
}

.card {
    border: 1px solid #343a40;
}

.card p {
    margin-top: 10px;
}

/* Стиль для светлого режима */
[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

[data-bs-theme="light"] .card {
    border-color: #ddd;
}

/* Стиль для темного режима */
[data-bs-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}

[data-bs-theme="dark"] .card {
    border-color: #444;
}

/* Адаптация для мобильных устройств */
@media (max-width: 576px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
