<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Seznam zvířat</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="header">
  <h1>Seznam zvířat</h1>
  <a href="/animal/add" class="add-animal-button">Přidat zvíře</a>
</div>

<table>
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Druh</th>
    <th>Datum narození</th>
    <th>Pohlaví</th>
    <th>Výběh</th>
    <th>Načíst obrázek</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="animal : ${animals}">
    <td th:text="${animal.name}"></td>
    <td th:text="${animal.species}"></td>
    <td th:text="${animal.birthdate}"></td>
    <td th:text="${animal.gender}"></td>
    <td th:text="${animal.enclosure.location}"></td>
    <td>
      <form action="/files/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="hidden" name="uploadedBy" value="Pracovník">
        <button type="submit">Načíst obrázek</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
