<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Přidat zvíře</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Přidat nové zvíře</h1>
<form action="/animal/add" method="post">
  <label for="name">Jméno:</label>
  <input type="text" id="name" name="name" required><br>

  <label for="species">Druh:</label>
  <input type="text" id="species" name="species" required><br>

  <label for="birthdate">Datum narození:</label>
  <input type="date" id="birthdate" name="birthdate" required><br>

  <label for="gender">Pohlaví:</label>
  <input type="text" id="gender" name="gender" required><br>

  <label for="enclosureId">Výběh:</label>
  <select name="enclosureId" id="enclosureId" required>
    <option th:each="enclosure : ${enclosures}"
            th:value="${enclosure.enclosureId}"
            th:text="${enclosure.location + ' (' + enclosure.capacity + ' míst)'}"></option>
  </select><br>

  <button type="submit">Přidat zvíře</button>
</form>

</body>
</html>
