<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить/Изменить событие</title>
</head>
<body>
<h1 th:text="${event.eventId != null} ? 'Изменить событие' : 'Добавить событие'"></h1>

<form th:action="@{/admin/events/save}" th:object="${event}" method="post">
  <input type="hidden" th:field="*{eventId}" />
  <label>Название:</label>
  <input type="text" th:field="*{name}" required /><br>

  <label>Дата:</label>
  <input type="date" th:field="*{eventDate}" required /><br>

  <label>Описание:</label>
  <textarea th:field="*{description}"></textarea><br>

  <label>Посетители:</label>
  <input type="number" th:field="*{attendees}" required /><br>

  <button type="submit">Сохранить</button>
</form>

<a href="/admin/events">Вернуться к списку событий</a>
</body>
</html>
