<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Správa událostí</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Události</h1>
<table>
  <thead>
  <tr>
    <th>Název</th>
    <th>Datum</th>
    <th>Popis</th>
    <th>Účastníci</th>
    <th>Akce</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="event : ${events}">
    <td th:text="${event.name}"></td>
    <td th:text="${event.eventDate}"></td>
    <td th:text="${event.description}"></td>
    <td th:text="${event.attendees}"></td>
    <td>
      <a th:href="@{'/admin/events/edit/' + ${event.eventId}}">Upravit</a>
      <a th:href="@{'/admin/events/delete/' + ${event.eventId}}">Smazat</a>
    </td>
  </tr>
  </tbody>
</table>

<a href="/admin/events/add">Přidat událost</a>
<br>
<a href="/admin/dashboard">Zpět na správu</a>
</body>
</html>
