<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Jazyky pro událost</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 th:text="'Jazyky pro událost: ' + ${event.name}"></h1>

<div th:if="${languages != null}">
  <ul>
    <li th:each="language : ${languages}" th:text="${language.languageName}"></li>
  </ul>
</div>
<div th:if="${languages == null}">
  <p>Pro tuto událost nejsou k dispozici žádné jazyky.</p>
</div>

<div th:if="${message != null}">
  <p th:text="${message}"></p>
</div>
<a href="/" class="btn">Hlavní menu</a>

</body>
</html>
