<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hlavní menu</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="greeting">
    <h1>Vítejte</h1>
    <p>Jste přihlášen jako: <strong th:text="${username}"></strong></p>
</div>

<section class="actions">
    <h2>Akce</h2>
    <ul>
        <li><a href="/auth/register">Registrovat se</a></li>
        <li><a href="/login">Přihlásit se</a></li>
        <li><a href="/animal">Prohlédnout si zvířata</a> (pouze pro pracovníky)</li>
        <li><a href="/buy-ticket">Koupit lístek</a> (pouze pro uživatele)</li>
        <li><a href="/logout">Odhlásit se</a></li>
        <li><a href="/cursors">Kurzory</a></li>

        <!-- if worker -->
        <li th:if="${isWorker}">
            <a href="/staff">Vypočítat mzdu</a> (pouze pro pracovníky)
        </li>

        <!-- if admin -->
        <li th:if="${isAdmin}">
            <a href="/admin/dashboard">Administrátorský panel</a> (pouze pro administrátory)
        </li>
    </ul>
</section>
</body>
</html>