<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Výpočet platu</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Výpočet platu</h1>

<form action="/calculate-salary" method="post">
  <label for="staffId">Vyberte zaměstnance:</label>
  <select name="staffId" id="staffId" required>
    <option th:each="staff : ${staffList}"
            th:value="${staff.staffId}"
            th:text="${staff.name}"></option>
  </select>
  <button type="submit">Vypočítat plat</button>
</form>

</body>
</html>
