<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Podrobnosti o zaměstnanci</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Podrobnosti o zaměstnanci z veřejného přístupu a povolení zaměstnance</h1>
<p><strong>Jméno:</strong> <span th:text="${staff.name}"></span></p>
<p><strong>Pozice:</strong> <span th:text="${staff.position}"></span></p>
<p><strong>Kontaktní informace:</strong> <span th:text="${staff.contactInformation}"></span></p>
<p><strong>Plat:</strong> <span th:text="${salaryResult}"></span></p>

<a href="/staff">Zpět na seznam</a>
</body>
</html>
