<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Zaměstnanci</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Seznam zaměstnanců</h1>
<table>
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Pozice</th>
    <th>Kontaktní informace</th>
    <th>Akce</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="staff : ${staffList}">
    <td th:text="${staff.name}"></td>
    <td th:text="${staff.position}"></td>
    <td th:text="${staff.contactInformation}"></td>
    <td><a th:href="@{/staff/details/{staffId}(staffId=${staff.staffId})}">Více informací</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>
