<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Úspěšný nákup vstupenky</title>
  <!-- Slinka na externí soubor stylů -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Ďakujeme za váš nákup, <span th:text="${visitor.name}"></span>!</h1>
<p>Vaše vstupenka na akci <span th:text="${event.name}"></span> byla úspěšně zakoupena.</p>

<!-- Zobrazení ceny -->
<p>Cena: <span th:text="${price}"></span> EUR</p>

<p>Jazyk akce: <span th:text="${language.languageName}"></span></p>
<a href="/" class="btn">Hlavní stránka</a>
</body>
</html>
