<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vyplňte údaje pro nákup vstupenky</title>

  <!-- Подключение Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

  <!-- Подключение кастомных стилей -->
  <link rel="stylesheet" href="/styles.css">

  <!-- Подключение Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container my-4">
  <!-- Кнопка для переключения темы -->
  <button class="btn btn-secondary mb-3" onclick="toggleTheme()">Přepnout režim</button>

  <h1>Vyplňte vaše údaje pro nákup vstupenky na <span th:text="${event.name}"></span></h1>

  <form action="/buy-ticket/process-ticket" method="post">
    <input type="hidden" name="eventId" th:value="${event.eventId}"/>

    <div class="mb-3">
      <label for="name" class="form-label">Jméno:</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Věk:</label>
      <input type="number" id="age" name="age" class="form-control" min="1" required>
    </div>

    <div class="mb-3">
      <label for="contactInformation" class="form-label">Kontaktní informace:</label>
      <input type="text" id="contactInformation" name="contactInformation" class="form-control">
    </div>

    <div class="mb-3">
      <label for="languageId" class="form-label">Jazyk události:</label>
      <select name="languageId" id="languageId" class="form-select" required>
        <option th:each="language : ${languages}" th:value="${language.languageId}" th:text="${language.languageName}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Koupit vstupenku</button>
  </form>
</div>
<a href="/" class="btn btn-primary fixed-bottom-left">Návrat na hlavní menu</a>
</body>
</html>
